{% load static i18n partial_view_data %}
{% brands_footer as brands %}
<!--================ Start Brands Area =================-->
<section class="brands-area background_one">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="owl-carousel brand-carousel">

                    <!-- single-brand -->
                    {% for brand in brands %}
                    <div class="single-brand-item d-table">
                        <div class="d-table-cell">
                            <img src="{{ brand.brand_image.url }}">
                        </div>
                    </div>
                    {% empty %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Brands Area =================-->

<!-- start footer Area -->
<footer class="footer-area area-padding-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 single-footer-widget">
                <h4>{% translate 'لینک های سریع' %}</h4>
                <ul>
                    <li><a href="">{% translate 'حساب کاربری' %}</a></li>
                    <li><a href="">{% translate 'دکتر‌ها' %}</a></li>
                    <li><a href="">{% translate 'بلاگ‌ها' %}</a></li>
                    <li><a href="">{% translate 'تماس باما' %}</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-sm-6 single-footer-widget">
                <h4>امکانات</h4>
                <ul>
                    <li>{% translate 'رزور کردن وقت' %}</li>
                    <li>{% translate 'مشاوره گرفتن از پزشک' %}</li>
                    <li>{% translate 'مشاهده ی مدارک پزشک‌ها' %}</li>
                    <li>{% translate 'مطالعه کردن بلاگ‌ها' %}</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 single-footer-widget">
                <h4>{% translate 'اخبار' %}</h4>
                <p>{% translate 'با ما همراه باشید' %}</p>
                <div class="form-wrap" id="mc_embed_signup">
                    <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                    method="get" class="form-inline">
                    <input class="form-control" name="EMAIL" placeholder="{% translate 'ایمیل خود را وارد کنید' %}" required="" type="email" />
                    <button class="click-btn btn btn-default">
                        <i class="ti-arrow-right"></i>
                    </button>
                    <div style="position: absolute; left: -5000px;">
                        <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text" />
                    </div>

                    <div class="info"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="row footer-bottom d-flex justify-content-between">
        <p class="col-lg-8 col-sm-12 footer-text m-0">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            {% translate 'این وبسایت توسط' %} <a class="text-dark font-weight-bold" href="https://www.instagram.com/saeedreza_wu/" target="_blank">{% translate 'سعیدرضا غضنفری' %}</a> {% translate 'طراحی شده است' %} 
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
        <div class="col-lg-4 col-sm-12 footer-social">
            <a href="https://www.linkedin.com/in/%D8%B3%D8%B9%DB%8C%D8%AF%D8%B1%D8%B6%D8%A7-%D8%BA%D8%B6%D9%86%D9%81%D8%B1%DB%8C-7b2944220/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.instagram.com/saeedreza_wu/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="live:.cid.f18c8ab4ed801bf9"><i class="fab fa-skype"></i></a>
        </div>
    </div>
    </div>
</footer>
<!-- End footer Area -->

<script>
    likeblog = (slug) => {
        $.ajax ({
            url: `/blogs/like/${slug}`,
            type: 'GET',
            enctype: 'multipart/form-data',
            success: (res) => {
                if(res.status == '200'){
                    document.getElementById('hearticon').classList.add('text-danger');
                    document.getElementById('youareliked').style.display = 'inline';
                    document.getElementById('counterlikes').innerHTML = res.counter;
                }
                else if(res.status == '203'){
                    document.getElementById('hearticon').classList.remove('text-danger');
                    document.getElementById('youareliked').style.display = 'none';
                    document.getElementById('counterlikes').innerHTML = res.counter;
                }
            },
            error: (err)=> {
                console.log(err.status);
            },
            contentType: false,
            processData: false,
        });

    }

    // for alert box
    const alert = document.getElementById('alertme');
    setTimeout(() => {
        alert.style.display = 'none'
    }, 5000)
</script>