{% load static i18n partial_view_data %}
{% brands_footer as brands %}
<!--================ Start Brands Area =================-->
<section class="brands-area background_one">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="owl-carousel brand-carousel">

                    <!-- single-brand -->
                    {% for brand in brands %}
                    <div class="single-brand-item d-table">
                        <div class="d-table-cell">
                            <img src="{{ brand.brand_image.url }}">
                        </div>
                    </div>
                    {% empty %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Brands Area =================-->

<!-- start footer Area -->
<footer class="footer-area area-padding-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 single-footer-widget">
                <h4>{% translate 'لینک های سریع' %}</h4>
                <ul>
                    <li><a href="#TODO">{% if request.LANGUAGE_CODE == 'fa' %}حساب کاربری{% else %}Account{% endif %}</a></li>
                    <li><a href="{% url 'website:doctors' %}">{% if request.LANGUAGE_CODE == 'fa' %}دکتر‌ها{% else %}Doctors{% endif %}</a></li>
                    <li><a href="{% url 'website:blogs' %}">{% if request.LANGUAGE_CODE == 'fa' %}بلاگ ها{% else %}Blogs{% endif %}</a></li>
                    <li><a href="{% url 'website:contactus' %}">{% if request.LANGUAGE_CODE == 'fa' %}تماس باما{% else %}contact us{% endif %}</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-sm-6 single-footer-widget">
                <h4>امکانات</h4>
                <ul>
                    <li>{% if request.LANGUAGE_CODE == 'fa' %}رزور کردن وقت{% else %}Book time{% endif %}</li>
                    <li>{% if request.LANGUAGE_CODE == 'fa' %}مشاوره گرفتن از پزشک{% else %}Get medical advice{% endif %}</li>
                    <li>{% if request.LANGUAGE_CODE == 'fa' %}مشاهده ی مدارک پزشک‌ها{% else %}View doctors' records{% endif %}</li>
                    <li>{% if request.LANGUAGE_CODE == 'fa' %}مطالعه کردن بلاگ‌ها{% else %}Reading blogs{% endif %}</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 single-footer-widget">
                <h4>{% translate 'اخبار' %}</h4>
                <p>{% if request.LANGUAGE_CODE == 'fa' %}با ما همراه باشید{% else %}Stay with us{% endif %}</p>
                <div class="form-wrap" id="mc_embed_signup">
                    <form action="{% url 'website:savemail' %}" method="POST" class="form-inline">
                        {% csrf_token %}
                        <input class="form-control" name="emailfield" placeholder="{% if request.LANGUAGE_CODE == 'fa' %}ایمیل خود را وارد کنید{% else %}Enter Your E-mail{% endif %}" required type="email" />
                        <button class="click-btn btn btn-default">
                            <i class="ti-arrow-right"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row footer-bottom d-flex justify-content-between">
        <p class="col-lg-8 col-sm-12 footer-text m-0">
            {% if request.LANGUAGE_CODE == 'fa' %}این وبسایت توسط{% else %}This website has been designed by {% endif %} <a class="text-dark font-weight-bold" href="https://www.instagram.com/saeedreza_wu/" target="_blank">{% if request.LANGUAGE_CODE == 'fa' %}سعیدرضا غضنفری{% else %}SaeedReza Ghazanfari{% endif %}</a> {% if request.LANGUAGE_CODE == 'fa' %}طراحی شده است (بک اند){% else %}(BackEnd){% endif %} 
        </p>
    </div>
    </div>
</footer>
<!-- End footer Area -->

<script>
    likeblog = (slug) => {
        $.ajax ({
            url: `/blogs/like/${slug}`,
            type: 'GET',
            enctype: 'multipart/form-data',
            success: (res) => {
                if(res.status == '200'){
                    document.getElementById('hearticon').classList.add('text-danger');
                    document.getElementById('heartcolor').classList.add('text-danger');
                    document.getElementById('youareliked').style.display = 'inline';
                    document.getElementById('counterlikes').innerHTML = res.counter;
                }
                else if(res.status == '203'){
                    document.getElementById('hearticon').classList.remove('text-danger');
                    document.getElementById('heartcolor').classList.remove('text-danger');
                    document.getElementById('youareliked').style.display = 'none';
                    document.getElementById('counterlikes').innerHTML = res.counter;
                }
            },
            error: (err)=> {
                console.log(err.status);
            },
            contentType: false,
            processData: false,
        });

    }

    // for alert box
    const alert = document.getElementById('alertme');
    setTimeout(() => {
        alert.style.display = 'none'
    }, 5000)
</script>