{% load static i18n widget_tweaks %}
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% translate 'ثبت نام' %}</title>

    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sign.css' %}">
    
    {% if request.LANGUAGE_CODE == 'fa' %}
    <style>
        label {
            right: 0 !important;
            left: unset !important;
        }
    </style>
    {% endif %}
</head>
<body>
    {% for msg in messages %}

    <div class="alert alert-{% if msg.tags == 'error' %}danger{% elif msg.tags == 'info' %}info{% elif msg.tags == 'success' %}success{% elif msg.tags == 'warning' %}warning{% endif %} alert-dismissible alertme" style="z-index: 100 !important; position: fixed; top: 10px; left: 10px;" id="alertme">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ msg }}
    </div>
    {% empty %}
    {% endfor %}

    <div class="main" {% if request.LANGUAGE_CODE == 'fa' %}style="direction: rtl;"{% endif %}>

        <div style="position: absolute; top: 10px; left: 10px;">
            {% translate 'انتخاب زبان:' %}
            {% if request.LANGUAGE_CODE == 'en' %}<a href="{% url 'activate_lang' %}?lang=fa&url={{ request.path|slice:'4:' }}" class="mx-1">فا</a>{% endif %}
            {% if request.LANGUAGE_CODE == 'fa' %}<a href="{% url 'activate_lang' %}?lang=en&url={{ request.path|slice:'4:' }}" class="mx-1">En</a>{% endif %}
        </div>

        <!-- with email -->
        <section class="signup {% if '/phone-form' in request.path %}d-none{% endif %}" id="mail-sec">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title {% if request.LANGUAGE_CODE == 'fa' %}text-right{% endif %}">{% translate 'ثبت نام با ایمیل' %} <br><a href="{% url 'auth:signup' 'phone-form' %}" style="font-size: 10pt; color: #2782d6 !important;">{% translate 'ثبت نام با شماره تلفن' %}</a></h2>
                        <form method="POST" class="register-form" id="register-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="fname"><i class="fa fa-user"></i></label>
                                {% render_field form.first_name id="fname" %}
                                {% for msg in form.first_name.errors %}<p class="text-danger">{{ msg }}</p>{% endfor %}
                            </div>
                            <div class="form-group">
                                <label for="lname"><i class="fa fa-user"></i></label>
                                {% render_field form.last_name id="lname" %}
                                {% for msg in form.last_name.errors %}<p class="text-danger">{{ msg }}</p>{% endfor %}
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="fa fa-envelope text-primary"></i></label>
                                {% render_field form.email id="email" %}
                                {% for msg in form.email.errors %}<p class="text-danger">{{ msg }}</p>{% endfor %}
                            </div>
                            <div class="form-group">
                                <label for="ntcode"><i class="fa fa-edit"></i></label>
                                {% render_field form.national_code id="ntcode" %}
                                {% for msg in form.national_code.errors %}<p class="text-danger">{{ msg }}</p>{% endfor %}
                            </div>
                            <div class="form-group">
                                <label for="passcode"><i class="fa fa-lock"></i></label>
                                {% render_field form.passcode id="passcode" %}
                                {% for msg in form.passcode.errors %}<p class="text-danger">{{ msg }}</p>{% endfor %}
                            </div>
                            <div class="form-group">
                                <label for="captcha"></label>
                                {% render_field form.captcha id="captcha" %}
                                {% for msg in form.captcha.errors %}<p class="text-danger">{{ msg }}</p>{% endfor %}
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" id="signup" class="form-submit" value="{% translate 'ثبت نام' %}">
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'img/background/signup-image.jpg' %}" alt="sing up image"></figure>
                        <a href="{% url 'auth:signin' %}" class="signup-image-link ">{% translate 'ورود به سایت' %}</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- with phone -->
        <section class="signup {% if '/email-form' in request.path %}d-none{% endif %}" id="phone-sec">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title {% if request.LANGUAGE_CODE == 'fa' %}text-right{% endif %}">{% translate 'ثبت نام با تلفن' %} <br><a href="{% url 'auth:signup' 'email-form' %}" style="font-size: 10pt; color: #2782d6 !important;">{% translate 'ثبت نام با ایمیل' %}</a></h2>
                        <form method="POST" class="register-form" id="register-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="fname"><i class="fa fa-user"></i></label>
                                {% render_field form.first_name id="fname" %}
                                {% for msg in form.first_name.errors %}<p class="text-danger">{{ msg }}</p>{% endfor %}
                            </div>
                            <div class="form-group">
                                <label for="lname"><i class="fa fa-user"></i></label>
                                {% render_field form.last_name id="lname" %}
                                {% for msg in form.last_name.errors %}<p class="text-danger">{{ msg }}</p>{% endfor %}
                            </div>
                            <div class="form-group">
                                <label for="phone"><i class="fa fa-phone text-primary"></i></label>
                                {% render_field form.phone id="phone" %}
                                {% for msg in form.phone.errors %}<p class="text-danger">{{ msg }}</p>{% endfor %}
                            </div>
                            <div class="form-group">
                                <label for="ntcode"><i class="fa fa-edit"></i></label>
                                {% render_field form.national_code id="ntcode" %}
                                {% for msg in form.national_code.errors %}<p class="text-danger">{{ msg }}</p>{% endfor %}
                            </div>
                            <div class="form-group">
                                <label for="passcode"><i class="fa fa-lock"></i></label>
                                {% render_field form.passcode id="passcode" %}
                                {% for msg in form.passcode.errors %}<p class="text-danger">{{ msg }}</p>{% endfor %}
                            </div>
                            <div class="form-group">
                                <label for="captcha"></label>
                                {% render_field form.captcha id="captcha" %}
                                {% for msg in form.captcha.errors %}<p class="text-danger">{{ msg }}</p>{% endfor %}
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" id="signup" class="form-submit" value="{% translate 'ثبت نام' %}">
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'img/background/signup-image.jpg' %}" alt="sing up image"></figure>
                        <a href="{% url 'auth:signin' %}" class="signup-image-link ">{% translate 'ورود به سایت' %}</a>
                    </div>
                </div>
            </div>
        </section>

    </div>

</body>
<script>
    const alert = document.getElementById('alertme');
    setTimeout(() => {
        alert.style.display = 'none'
    }, 5000)

    $('.captcha').click(function () {
        $.getJSON("/captcha/refresh/", function (result) {
            $('.captcha').attr('src', result['image_url']);
            $('#id_captcha_0').val(result['key'])
        });
    });

    $('.js-captcha-refresh').click(function(){
        $form = $(this).parents('form');

        $.getJSON($(this).data('url'), {}, function(json) {
            // This should update your captcha image src and captcha hidden input
        });

        return false;
    });
</script>

</html>