{% load static %}
<section class="testimonial" style="{{ style }}">
    <div class="container">
        <div class="testi_slider owl-carousel owl-theme">
            <div class="item">
                <div class="testi_item">
                    <div class="testimonial_image">
                        <img src="{% static 'img/elements/tes1.jpg' %}" alt="">
                    </div>
                    <div class="testi_item_content">
                        <p>
                            “ لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است”
                        </p>
                        <h4>- دکتر ایکس زد -</h4>       
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi_item">
                    <div class="testimonial_image">
                        <img src="{% static 'img/elements/tes1.jpg' %}" alt="">
                    </div>
                    <div class="testi_item_content">
                        <p>
                            “ لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است”
                        </p>
                        <h4>- دکتر ایکس زد -</h4>         
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi_item">
                    <div class="testimonial_image">
                        <img src="{% static 'img/elements/tes1.jpg' %}" alt="">
                    </div>
                    <div class="testi_item_content">
                        <p>
                            “ لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است”
                        </p>
                        <h4>- دکتر ایکس زد -</h4>       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>