{% load static i18n %}
<section class="team-area area-padding">
    <div class="container">
        <div class="area-heading row">
            <div class="col-md-5 col-xl-4">
                <h3>{% translate 'پزشکی دکتر های باتجربه' %}</h3>
            </div>  
            <div class="col-md-7 col-xl-8"></div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card card-team">
                    <img class="card-img rounded-0" src="{% static 'img/team/1.jpg' %}" alt="">
                    <div class="card-team__body text-center">
                        <h3><a href="#">دکتر ایکس ایگرگ</a></h3>
                        <p>پزشک</p>
                        <div class="team-footer d-flex justify-content-between">
                            <a class="dn_btn" href=""><i class="ti-mobile"></i>0915****2525</a>
                            <ul class="card-team__social">
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                <li><a href="#"><i class="ti-instagram"></i></a></li>
                                <li><a href="#"><i class="ti-skype"></i></a></li>
                            </ul> 
                        </div> 
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card card-team">
                    <img class="card-img rounded-0" src="{% static 'img/team/2.jpg' %}" alt="">
                    <div class="card-team__body text-center">
                        <h3><a href="#">دگتر ایکس</a></h3>
                        <p>پزشک</p>
                        <div class="team-footer d-flex justify-content-between">
                            <a class="dn_btn" href=""><i class="ti-mobile"></i>0915****2525</a>
                            <ul class="card-team__social">
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                <li><a href="#"><i class="ti-instagram"></i></a></li>
                                <li><a href="#"><i class="ti-skype"></i></a></li>
                            </ul> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card card-team">
                    <img class="card-img rounded-0" src="{% static 'img/team/3.jpg' %}" alt="">
                    <div class="card-team__body text-center">
                        <h3><a href="#">دکتر ایکس</a></h3>
                        <p>پزشک</p>
                        <div class="team-footer d-flex justify-content-between">
                            <a class="dn_btn" href=""><i class="ti-mobile"></i>0915****2525</a>
                            <ul class="card-team__social">
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                <li><a href="#"><i class="ti-instagram"></i></a></li>
                                <li><a href="#"><i class="ti-skype"></i></a></li>
                            </ul> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>