{% load static i18n partial_view_data %}
{% doctor_cards as doctors %}
<section class="team-area area-padding">
    <div class="container">
        <div class="area-heading row">
            <div class="col-md-5 col-xl-4">
                <h3>{% translate 'پزشکی دکتر های باتجربه' %}</h3>
            </div>  
            <div class="col-md-7 col-xl-8"></div>
        </div>

        <div class="row">
            {% for doctor in doctors %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card card-team">
                    {% if doctor.user.profile %}<img class="card-img rounded-0" src="{{ doctor.user.profile.url }}" alt="">{% endif %}
                    <div class="card-team__body text-center">
                        <h3><a href="#">دکتر {{ doctor.user.get_full_name }}</a></h3>
                        <p>پزشک</p>
                        <div class="team-footer d-flex justify-content-between">
                            <a class="dn_btn" href=""><i class="ti-mobile"></i>{{ doctor.user.phone }}</a>
                        </div> 
                    </div>
                </div>
            </div>
            {% empty %}
            {% endfor %}
        </div>
    </div>
</section>