{% extends 'website/shared/_main_layout.html' %}
{% load static i18n %}
{% block title %}{% translate 'بلاگ ها' %}{% endblock %}


{% block content %}

<!--================Home Banner Area =================-->
<section class="banner_area" style="z-index: 12 !important;">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>{% translate 'بلاگ ها' %}</h2>
                    <p>{% translate 'زمین سبز پشت هوای الوده است' %}</p>
                </div>
                <div class="page_link">
                    <a href="{% url 'website:blogs' %}">{% translate 'خانه / بلاگ ها' %}</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Blog Area =================-->
<section class="blog_area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">

                    {% for blog in page_obj %}
                    <article class="blog_item">
                        <div class="blog_item_img">
                            {% if blog.image %}<img class="card-img rounded-0" src="{{ blog.image.url }}" alt="">{% endif %}
                            <a href="{% url 'website:blog_details' blog.slug %}" class="blog_item_date">
                                <h3>{{ blog.created.day }}</h3>
                                <p>{{ blog.j_month }}</p>
                            </a>
                        </div>
                        
                        <div class="blog_details">
                            <a class="d-inline-block" href="{% url 'website:blog_details' blog.slug %}">
                                <h2>{{ blog.title }}</h2>
                            </a>
                            <p>{{ blog.short_desc }}</p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="far fa-user"></i> {% for cate in blog.categories.all %}{{cate.title}} {% if not forloop.last %}-{% endif %} {% endfor %}</a></li>
                                <li><a href="#"><i class="far fa-comments"></i> 3 نظر</a></li>
                            </ul>
                        </div>
                    </article>
                    {% empty %}
                    {% endfor %}

                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Previous">
                                    {% translate 'قبلی' %}
                                </a>
                            </li>
                        {% endif %}
                        {% for page in paginator.page_range %}
                            {% if page == page_obj.number %}
                                <li class="page-item active">
                                    <a href="?page={{ page }}" class="page-link">{{ page }}</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a href="?page={{ page }}" class="page-link">{{ page }}</a>
                                </li>
                            {% endif %}
    
                            
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next">
                                    {% translate 'بعدی' %}
                                </a>
                            </li>
                        {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
            
            <!--================ side bar =================-->
            {% include 'partials_mw_website/blog_sidebar.html' %}

        </div>
    </div>
</section>
<!--================Blog Area =================-->

{% endblock %}