{% extends 'website/shared/_main_layout.html' %}
{% load static i18n %}
{% block title %}{% translate 'بلاگ ها' %}{% endblock %}


{% block content %}

<!--================Home Banner Area =================-->
<section class="banner_area" style="z-index: 12 !important;">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>{% translate 'بلاگ ها' %}</h2>
                    <p>{% translate 'زمین سبز پشت هوای الوده است' %}</p>
                </div>
                <div class="page_link">
                    <a href="{% url 'website:blogs' %}">{% translate 'خانه / بلاگ ها' %}</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Blog Area =================-->
<section class="blog_area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{% static 'img/blog/main-blog/m-blog-1.jpg' %}" alt="">
                            <a href="#" class="blog_item_date">
                            <h3>15</h3>
                            <p>ژانویه</p>
                            </a>
                        </div>
                        
                        <div class="blog_details">
                            <a class="d-inline-block" href="single-blog.html">
                                <h2>مکانی رویایی برای مریضان ما</h2>
                            </a>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="far fa-user"></i> سفر، سبک زندگی</a></li>
                                <li><a href="#"><i class="far fa-comments"></i> 3 نظر</a></li>
                            </ul>
                        </div>
                    </article>
                    
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{% static 'img/blog/main-blog/m-blog-2.jpg' %}" alt="">
                            <a href="#" class="blog_item_date">
                            <h3>15</h3>
                            <p>ژانویه</p>
                            </a>
                        </div>
                        
                        <div class="blog_details">
                            <a class="d-inline-block" href="single-blog.html">
                                <h2>مکانی رویایی برای مریضان ما</h2>
                            </a>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="far fa-user"></i> سفر، سبک زندگی</a></li>
                                <li><a href="#"><i class="far fa-comments"></i> 3 نظر</a></li>
                            </ul>
                        </div>
                    </article>

                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{% static 'img/blog/main-blog/m-blog-3.jpg' %}" alt="">
                            <a href="#" class="blog_item_date">
                            <h3>15</h3>
                            <p>ژانویه</p>
                            </a>
                        </div>
                        
                        <div class="blog_details">
                            <a class="d-inline-block" href="single-blog.html">
                                <h2>مکانی رویایی برای مریضان ما</h2>
                            </a>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="far fa-user"></i> سفر، سبک زندگی</a></li>
                                <li><a href="#"><i class="far fa-comments"></i> 3 نظر</a></li>
                            </ul>
                        </div>
                    </article>

                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{% static 'img/blog/main-blog/m-blog-4.jpg' %}" alt="">
                            <a href="#" class="blog_item_date">
                            <h3>15</h3>
                            <p>ژانویه</p>
                            </a>
                        </div>
                        
                        <div class="blog_details">
                            <a class="d-inline-block" href="single-blog.html">
                                <h2>مکانی رویایی برای مریضان ما</h2>
                            </a>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="far fa-user"></i> سفر، سبک زندگی</a></li>
                                <li><a href="#"><i class="far fa-comments"></i> 3 نظر</a></li>
                            </ul>
                        </div>
                    </article>

                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{% static 'img/blog/main-blog/m-blog-5.jpg' %}" alt="">
                            <a href="#" class="blog_item_date">
                            <h3>15</h3>
                            <p>ژانویه</p>
                            </a>
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="single-blog.html">
                                <h2>مکانی رویایی برای مریضان ما</h2>
                            </a>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="far fa-user"></i> سفر، سبک زندگی</a></li>
                                <li><a href="#"><i class="far fa-comments"></i> 3 نظر</a></li>
                            </ul>
                        </div>
                    </article>
                    


                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Previous">
                                    <i class="ti-angle-left"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">1</a>
                            </li>
                            <li class="page-item active">
                                <a href="#" class="page-link">2</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Next">
                                    <i class="ti-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            
            <!--================ side bar =================-->
            {% include 'partials_mw_website/blog_sidebar.html' %}

        </div>
    </div>
</section>
<!--================Blog Area =================-->

{% endblock %}