{% extends 'website/shared/_main_layout.html' %}
{% load static i18n %}
{% block title %}{{ object.title }}{% endblock %}


{% block content %}

<!--================Home Banner Area =================-->
<section class="banner_area" style="z-index: 12 !important;">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>{{ object.title }}</h2>
                    <p>{% translate 'زمین سبز پشت هوای الوده است' %}</p>
                </div>
                <div class="page_link">
                    <a href="{% url 'website:blog_details' object.slug %}">{% translate 'خانه / بلاگ ها / اطلاعات بلاگ' %}</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Blog Area =================-->
<section class="blog_area single-post-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        <img class="img-fluid" src="{% static 'img/blog/main-blog/m-blog-1.jpg' %}" alt="">
                    </div>

                    <div class="blog_details">
                        <h2>{{ object.title }}</h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><a href="#"><i class="far fa-user"></i> {% for cate in object.categories.all %}{{cate.title}} {% if not forloop.last %}-{% endif %} {% endfor %}</a></li>
                            <li><a href="#"><i class="far fa-comments"></i> 3 نظر</a></li>
                        </ul>
                        <p class="excert">
                            {{ object.short_desc }}
                        </p>
                        <div class="quote-wrapper">
                            <div class="quotes">
                                {{ object.desc }}
                            </div>
                        </div>

                        <ul class="list" style="display: flex; margin-bottom: 1rem; flex-wrap: wrap;">
                            {% for tag in object.tags.all %}
                            <li style="padding: 8px 16px; background: #f2f3f7; color: white; margin: 5px; border-radius: 5px;">
                                <a href="#">{{ tag.title }}</a>
                            </li>
                            {% empty %}
                            {% endfor %}
                        </ul>

                    </div>
                </div>
                <div class="navigation-top">
                    <div class="d-sm-flex justify-content-between text-center">
                        <p class="like-info"><span class="align-middle"><i class="far fa-heart"></i></span> لیلی و 4 نفر دیگر این پست را پسندیده اند</p>
                        <div class="col-sm-4 text-center my-2 my-sm-0">
                            <p class="comment-count"><span class="align-middle"><i class="far fa-comment"></i></span> 06 نظر</p>
                        </div>
                    </div>

                    <div class="navigation-area">
                        <div class="row">
                            {% if object.prev_post %}
                            <div class="col-6 nav-left flex-row d-flex justify-content-start align-items-center">
                                <div class="thumb">
                                    <a href="/blogs/{{ object.prev_post.slug }}">
                                        <img class="img-fluid" src="{% static 'img/blog/prev.jpg' %}" alt="">
                                    </a>
                                </div>
                                <div class="arrow">
                                    <a href="/blogs/{{ object.prev_post.slug }}">
                                        <span class="lnr text-white lnr-arrow-left"></span>
                                    </a>
                                </div>
                                <div class="detials">
                                    <p>{% translate 'پست قبلی' %}</p>
                                    <a href="/blogs/{{ object.prev_post.slug }}">
                                        <h4>{{ object.prev_post.title }}</h4>
                                    </a>
                                </div>
                            </div>
                            {% endif %}

                            {% if object.next_post %}
                            <div class="col-6 {% if not object.prev_post %}col-12{% endif %} nav-right flex-row d-flex justify-content-end align-items-center">
                                <div class="detials">
                                    <p>{% translate 'پست بعدی' %}</p>
                                    <a href="/blogs/{{ object.next_post.slug }}">
                                        <h4>{{ object.next_post.title }}</h4>
                                    </a>
                                </div>
                                <div class="arrow">
                                    <a href="/blogs/{{ object.next_post.slug }}">
                                        <span class="lnr text-white lnr-arrow-right"></span>
                                    </a>
                                </div>
                                <div class="thumb">
                                    <a href="/blogs/{{ object.next_post.slug }}">
                                        <img class="img-fluid" src="{% static 'img/blog/next.jpg' %}" alt="">
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>


                <div class="blog-author">
                    <div class="media align-items-center">
                        <img src="{% static 'img/blog/author.png' %}" alt="">
                        <div class="media-body">
                            <a href="#">
                                <h4>{{ object.writer.get_full_name }}</h4>
                            </a>
                            <p>{{ object.writer.bio }}</p>
                        </div>
                    </div>
                </div>

                <div class="comments-area">
                    <h4>5 {% translate 'نظر' %}</h4>
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="{% static 'img/blog/c1.png' %}" alt="">
                                </div>
                                <div class="desc">
                                    <p class="comment">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                                    </p>

                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <h5>
                                                <a href="#">ایکس مرد</a>
                                            </h5>
                                            <p class="date">25 دی 1397 </p>
                                        </div>

                                        <div class="reply-btn">
                                            <a href="#" class="btn-reply text-uppercase">جواب دادن</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="{% static 'img/blog/c2.png' %}" alt="">
                                </div>
                                <div class="desc">
                                    <p class="comment">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                                    </p>

                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <h5>
                                                <a href="#">ایکس مرد</a>
                                            </h5>
                                            <p class="date">25 دی 1397 </p>
                                        </div>

                                        <div class="reply-btn">
                                            <a href="#" class="btn-reply text-uppercase">جواب دادن</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="{% static 'img/blog/c3.png' %}" alt="">
                                </div>
                                <div class="desc">
                                    <p class="comment">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                                    </p>

                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <h5>
                                                <a href="#">ایکس مرد</a>
                                            </h5>
                                            <p class="date">25 دی 1397 </p>
                                        </div>

                                        <div class="reply-btn">
                                            <a href="#" class="btn-reply text-uppercase">جواب دادن</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="comment-form">
                    <h4>{% translate 'جواب دادن' %}</h4>
                    <form class="form-contact comment_form" action="#" id="commentForm">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9" placeholder="کامنت "></textarea>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" name="name" id="name" type="text" placeholder="نام">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" name="email" id="email" type="email" placeholder="ایمیل">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" name="website" id="website" type="text" placeholder="وبسایت">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="button button-contactForm">{% translate 'ارسال پیام' %}</button>
                        </div>
                    </form>
                </div>
            </div>

            <!--================ side bar =================-->
            {% include 'partials_mw_website/blog_sidebar.html' %}

        </div>
    </div>
</section>
<!--================Blog Area end =================-->

{% endblock %}