{% extends 'website/shared/_main_layout.html' %}
{% load static i18n %}
{% block title %}{% translate 'دکترها' %}{% endblock %}


{% block content %}

<!--================Home Banner Area =================-->
<section class="banner_area" style="z-index: 12 !important;">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>{% translate 'دکترها' %}</h2>
                    <p>{% translate 'زمین سبز پشت هوای الوده است' %}</p>
                </div>
                <div class="page_link">
                    <a href="{% url 'website:doctors' %}">{% translate 'خانه / دکتر ها' %}</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================ Team section start =================-->  
{% include 'partials_mw_website/doctor_cards.html' %}
<!--================ Team section end =================-->  

<!-- ================ Hotline Area Starts ================= -->  
<section class="hotline-area text-center area-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>{% translate 'اورژانسی' %}</h2>
                <span>09126151651</span>
                <p class="pt-3">{% translate 'ما برای سلامتی شما سرویس 24 ساعته در نظر داریم' %}</p>
            </div>
        </div>
    </div>
</section>
<!-- ================ Hotline Area End ================= --> 

{% endblock %}